.container_about {
  display: flex;
  margin-top: 30px;
  gap: 10px;
  flex-direction: column;
  margin: 0 3vw;
}
.container_about h1 {
  font-size: 35px;
  font-family: Inter, sans-serif;
  text-align: center;
}
.container_about .content_about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.container_about .content_about p {
  text-align: justify;
  font-size: 20px;
  font-family: Inter, sans-serif;
  width: 500px;
}
.container_about .image_shop {
  display: flex;
  justify-content: center;
}
.container_about .image_shop img {
  border: 1px solid var(--bg-header);
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 18, 44, 0.363);
}
