.container {
  display: flex;
  margin-top: 60px;
  gap: 10px;
  flex-direction: column;
}
.container h1 {
  font-size: 35px;
  font-family: Inter, sans-serif;
}
.content_about {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}
.content_about p {
  text-align: justify;
  font-size: 20px;
  font-family: Inter, sans-serif;
}
.image_shop {
  display: flex;
  justify-content: center;
}
.image_shop img {
  border: 1px solid var(--bg-header);
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 18, 44, 0.363);
}
