nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-header);
}

.title {
  color: var(--text);
  font-family: Inter, sans-serif;
  font-weight: 600;
  transition: 3s;
}

.title:hover {
  transform: rotateX(360deg);
  transform: rotateY(-360deg);
  transition: 3s;
  cursor: default;
}

.buttons a,
.buttons span {
  color: var(--text);
  text-decoration: none;
  font-family: Inter, sans-serif;
}

.buttons {
  display: flex;
  gap: 36px;
}
