.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  margin: 0.5vw auto;
  padding: 5px;
  background-color: var(--bg-header);
  border-radius: 15px;

  min-height: 70vh;
  width: 70vw;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image_shoe {
  display: flex;
  gap: 50px;
  align-items: center;
}
.image_shoe img {
  border-radius: 15px;
  width: 30vw;
}
.name_shoe {
  font-size: 30px;
  font-family: Inter, sans-serif;
}
.information_shoe {
  font-size: 20px;
  font-family: Inter, sans-serif;
}
.add_button {
  background-color: var(--text);
  color: var(--white);
  width: 250px;
  height: 50px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}
.sizes_shoe {
  display: flex;
  flex-direction: column;
}
.all_sizes {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.sizes_shoe p {
  font-size: 20px;
  font-family: Inter, sans-serif;
}
.all_sizes button {
  transition: 1s;
  background-color: var(--text);
  color: var(--white);
  width: 45px;
  height: 45px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}
.price_shoe {
  font-size: 20px;
  font-family: Inter, sans-serif;
}

.selected_size {
  background-color: rgb(114, 114, 114) !important;
  transition: 1s;
}
