.container {
  display: flex;
  gap: 120px;
  margin-top: 60px;
}
.container_categories {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container_categories a {
  font-family: Inter, sans-serif;
  color: var(--text);
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
.categories_name {
  font-size: 30px;
  font-family: Inter, sans-serif;
  font-weight: bold;
}
.show_categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.container_categories a {
  font-size: 20px;
  font-family: Inter, sans-serif;
  text-decoration: none;
  color: var(--text);
}
.content {
  display: flex;
  flex-direction: column;
}
.container_products {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 75vh;
}
.container_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
}
.container_items img {
  width: 100%;
}
.shoes {
  text-align: center;
  margin: 15px 0;
  width: 250px;
  box-sizing: border-box;
}
.shoes:hover {
  cursor: pointer;
  border: 2px solid var(--bg-header);
}
.name_shoe {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: bold;
}
.price_shoe {
  font-size: 15px;
  font-family: Inter, sans-serif;
}
.pagination {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: Inter, sans-serif;
  gap: 20px;
}
.pagination a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}
