nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: var(--bg-header);
}

.title {
  color: var(--text);
  font-family: Inter, sans-serif;
  font-weight: 600;
}

.buttons a {
  color: var(--text);
  text-decoration: none;

  font-family: Inter, sans-serif;
}

.buttons {
  display: flex;
  gap: 36px;
}
